#about-us {
  .wrapper {
    // display: flex;
    // justify-content: center;
    // align-items: center;
  }
  .about-us-group {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .left-sec {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 34vh;
    width: 60%;
    h2 {
      font-size: 1.5rem;
      font-weight: 700;
      font-family: $lora;
      text-transform: capitalize;
    }
    h3 {
      font-size: 0.73rem;
      font-family: $lora;
      text-transform: capitalize;
    }
    p {
      font-size: 0.7rem;
      line-height: 0.85rem;
      // .p-one {
      //     margin-bottom: 5px;
      // }
    }
    .button {
      @include button();
    }
  }
  .green-box {
    align-self: flex-start;
    background-color: #629b4b;
    border-radius: 18px;
    color: white;
    padding: 60px 80px 60px 20px;
    margin-left: 90px;
    // span {
    //   display: inline-block;
    // }
    .green-box-header {
      font-size: 1rem;
      font-weight: 400;
      letter-spacing: 0.05rem;
      font-family: $lora;
      text-transform: capitalize;
    }
  }
}
