#about-us {
  height: 55vh;
  display: flex;
  align-items: center;
  .about-us-group {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .left-sec {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 34vh;
    width: 40%;
    h2 {
      font-size: 1.6rem;
      font-weight: 700;
      font-family: $lora;
      text-transform: capitalize;
    }
    h3 {
      font-size: 0.73rem;
      font-family: $lora;
      text-transform: capitalize;
    }
    p {
      font-size: 0.7rem;
      line-height: 1.1rem;
    }
    .p-two {
      margin-bottom: 1rem;
    }
    .button {
      @include button();
    }
  }
  .green-box {
    align-self: flex-start;
    background-color: #629b4b;
    border-radius: 18px;
    color: white;
    height: 20vh;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 4.375rem 0 1.875rem;
    line-height: 1.875rem;
    margin-left: 4.6rem;
    position: relative;
    .green-box-header {
      font-size: 1.15rem;
      font-weight: 400;
      letter-spacing: 0.05rem;
      font-family: $lora;
      text-transform: capitalize;
    }
  }
}
