#our-products {
  margin-top: 150px;
  .top-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    h3 {
      text-transform: uppercase;
      font-family: $lora;
      font-size: 1.2rem;
    }
    p {
      @include para();
      text-align: center;
      width: 49%;
    }
  }
  //   IMAGE SECTION
  .all-pics {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 40px;
    margin-bottom: 40px;
    img {
      height: 21vh;
      width: 100%;
      object-fit: cover;
    }
    .pic-1-text,
    .pic-2-text,
    .pic-3-text,
    .pic-4-text,
    .pic-5-text,
    .pic-6-text,
    .pic-7-text,
    .pic-8-text {
      width: 200px;
      margin-bottom: 40px;
      background-color: white;
      .border {
        border-left: 1px solid rgb(218, 218, 218);
        border-right: 1px solid rgb(218, 218, 218);
        border-bottom: 1px solid rgb(218, 218, 218);
        height: 170px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 13px 13px 1px 13px;
      }
      p {
        @include para();
        text-transform: capitalize;
      }
      .tag {
        font-family: $lora;
        font-weight: 600;
        letter-spacing: 0.5px;
      }
      .price {
        color: $primary-green;
        font-weight: 600;
      }
      .button {
        background-color: $primary-green;
        border-radius: 2.1rem;
        cursor: pointer;
        color: #ffffff;
        padding-top: 0.2rem;
        padding-bottom: 0.2rem;
        text-decoration: none;
        text-transform: capitalize;
        font-size: 0.6rem;
        width: 4.5rem;
        font-weight: 400;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 10;
        position: relative;
        top: 0.9rem;
        right: 0.1rem;
      }
    }
  }
  .button-load {
    @include button();
  }
  .load-more {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
  }
}
