html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Barlow", sans-serif;
  font-size: 125%;
  color: #1a2428;
  overflow-x: hidden;
}

.wrapper {
  max-width: 900px;
  margin: 0 auto;
}

header .wrapper {
  display: flex;
  justify-content: space-between;
}
header .top-bar {
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 10;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
}
header .top-bar .logo {
  width: auto;
  height: 2.25rem;
  filter: invert(58%) sepia(70%) saturate(6177%) hue-rotate(79deg) brightness(100%) contrast(102%);
  align-self: center;
}
header .top-bar nav {
  width: 10.5rem;
  align-self: center;
}
header .top-bar ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  text-transform: uppercase;
  font-size: 0.6rem;
  font-weight: 600;
}
header .top-bar ul img {
  width: auto;
  height: 0.8rem;
}
header .top-bar li a {
  color: #1a2428;
  text-decoration: none;
}
header .hero {
  background-image: url(../assets/header/background.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}
header .hero .top-group {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
header .hero .left-sec {
  display: flex;
  flex-direction: column;
}
header .hero img {
  width: auto;
  height: 45vh;
}
header .hero h1 {
  font-size: 1.9rem;
  font-family: "Lora", serif;
  line-height: 2.5rem;
  text-transform: capitalize;
  width: 100%;
}
header .hero p {
  padding-top: 25px;
  padding-bottom: 25px;
  font-size: 0.7rem;
  line-height: 1.1rem;
}
header .hero .button {
  background-color: #207200;
  border-radius: 2.1rem;
  cursor: pointer;
  color: #ffffff;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.6rem;
  width: 4.5rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}

#about-us {
  display: flex;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
}
#about-us .about-us-group {
  display: flex;
  align-items: center;
}
#about-us .left-sec {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  width: 40%;
}
#about-us .left-sec h2 {
  font-size: 1.6rem;
  font-weight: 700;
  font-family: "Lora", serif;
  text-transform: capitalize;
  margin-bottom: 20px;
}
#about-us .left-sec h3 {
  font-size: 0.73rem;
  font-family: "Lora", serif;
  text-transform: capitalize;
  margin-bottom: 10px;
}
#about-us .left-sec p {
  font-size: 0.7rem;
  line-height: 1.1rem;
}
#about-us .left-sec .p-two {
  margin-top: 10px;
  margin-bottom: 25px;
}
#about-us .left-sec .button {
  background-color: #207200;
  border-radius: 2.1rem;
  cursor: pointer;
  color: #ffffff;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.6rem;
  width: 4.5rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}
#about-us .green-box {
  align-self: flex-start;
  background-color: #629b4b;
  border-radius: 18px;
  color: white;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 30px;
  line-height: 1.875rem;
  margin-left: 4.6rem;
  position: relative;
}
#about-us .green-box .green-box-header {
  font-size: 1.15rem;
  font-weight: 400;
  letter-spacing: 0.05rem;
  font-family: "Lora", serif;
  text-transform: capitalize;
}

#our-products {
  margin-top: 150px;
}
#our-products .top-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#our-products .top-header h3 {
  text-transform: uppercase;
  font-family: "Lora", serif;
  font-size: 1.2rem;
}
#our-products .top-header p {
  font-size: 0.7rem;
  line-height: 1.1rem;
  text-align: center;
  width: 49%;
  margin-top: 25px;
}
#our-products .all-pics {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 40px;
  margin-bottom: 40px;
}
#our-products .all-pics img {
  height: auto;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#our-products .all-pics .pic-1-text,
#our-products .all-pics .pic-2-text,
#our-products .all-pics .pic-3-text,
#our-products .all-pics .pic-4-text,
#our-products .all-pics .pic-5-text,
#our-products .all-pics .pic-6-text,
#our-products .all-pics .pic-7-text,
#our-products .all-pics .pic-8-text {
  width: 200px;
  margin-bottom: 40px;
  background-color: white;
}
#our-products .all-pics .pic-1-text .border,
#our-products .all-pics .pic-2-text .border,
#our-products .all-pics .pic-3-text .border,
#our-products .all-pics .pic-4-text .border,
#our-products .all-pics .pic-5-text .border,
#our-products .all-pics .pic-6-text .border,
#our-products .all-pics .pic-7-text .border,
#our-products .all-pics .pic-8-text .border {
  border-left: 1px solid rgb(218, 218, 218);
  border-right: 1px solid rgb(218, 218, 218);
  border-bottom: 1px solid rgb(218, 218, 218);
  height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 13px 13px 1px 13px;
}
#our-products .all-pics .pic-1-text p,
#our-products .all-pics .pic-2-text p,
#our-products .all-pics .pic-3-text p,
#our-products .all-pics .pic-4-text p,
#our-products .all-pics .pic-5-text p,
#our-products .all-pics .pic-6-text p,
#our-products .all-pics .pic-7-text p,
#our-products .all-pics .pic-8-text p {
  font-size: 0.7rem;
  line-height: 1.1rem;
  text-transform: capitalize;
}
#our-products .all-pics .pic-1-text .tag,
#our-products .all-pics .pic-2-text .tag,
#our-products .all-pics .pic-3-text .tag,
#our-products .all-pics .pic-4-text .tag,
#our-products .all-pics .pic-5-text .tag,
#our-products .all-pics .pic-6-text .tag,
#our-products .all-pics .pic-7-text .tag,
#our-products .all-pics .pic-8-text .tag {
  font-family: "Lora", serif;
  font-weight: 600;
  letter-spacing: 0.5px;
}
#our-products .all-pics .pic-1-text .price,
#our-products .all-pics .pic-2-text .price,
#our-products .all-pics .pic-3-text .price,
#our-products .all-pics .pic-4-text .price,
#our-products .all-pics .pic-5-text .price,
#our-products .all-pics .pic-6-text .price,
#our-products .all-pics .pic-7-text .price,
#our-products .all-pics .pic-8-text .price {
  color: #207200;
  font-weight: 600;
}
#our-products .all-pics .pic-1-text .button,
#our-products .all-pics .pic-2-text .button,
#our-products .all-pics .pic-3-text .button,
#our-products .all-pics .pic-4-text .button,
#our-products .all-pics .pic-5-text .button,
#our-products .all-pics .pic-6-text .button,
#our-products .all-pics .pic-7-text .button,
#our-products .all-pics .pic-8-text .button {
  background-color: #207200;
  border-radius: 2.1rem;
  cursor: pointer;
  color: #ffffff;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 0.6rem;
  width: 4.5rem;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  position: relative;
  top: 0.9rem;
  right: 0.1rem;
}
#our-products .button-load {
  background-color: #207200;
  border-radius: 2.1rem;
  cursor: pointer;
  color: #ffffff;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.6rem;
  width: 4.5rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}
#our-products .load-more {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
}

#our-gallery {
  background-color: rgba(255, 255, 255, 0.2);
  background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url(../assets/grass.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  height: auto;
  width: 100%;
}
#our-gallery .top-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}
#our-gallery .top-header h2 {
  text-transform: uppercase;
  font-family: "Lora", serif;
  font-size: 1.2rem;
  margin-bottom: 20px;
}
#our-gallery .top-header p {
  font-size: 0.7rem;
  line-height: 1.1rem;
  text-align: center;
  width: 49%;
}
#our-gallery .all-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
}
#our-gallery .all-buttons .button {
  background-color: #207200;
  border-radius: 2.1rem;
  cursor: pointer;
  color: #ffffff;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  margin: 2rem 0.5rem 1.5rem 0.5rem;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 0.6rem;
  width: 4.5rem;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
}
#our-gallery .all-buttons #button-all {
  width: 40px;
}
#our-gallery .all-buttons #button-business {
  width: 75px;
}
#our-gallery .all-buttons #button-development {
  width: 95px;
}
#our-gallery .all-buttons #button-technology {
  width: 85px;
}
#our-gallery .all-buttons #button-agency {
  width: 65px;
}
#our-gallery .gallery {
  list-style: none;
}
#our-gallery .gallery div {
  display: flex;
  margin-bottom: 5px;
}
#our-gallery .gallery li {
  display: flex;
  justify-content: space-between;
}
#our-gallery .gallery li img {
  width: 98%;
  height: auto;
}
#our-gallery .button-load {
  background-color: #207200;
  border-radius: 2.1rem;
  cursor: pointer;
  color: #ffffff;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.6rem;
  width: 4.5rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}
#our-gallery .load-more {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3.75rem;
  padding-bottom: 5rem;
}

#latest-news {
  background-color: #207200;
  height: auto;
  width: 100%;
}
#latest-news .top-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
#latest-news .top-header h2 {
  text-transform: uppercase;
  font-family: "Lora", serif;
  color: #fff;
  font-size: 1.2rem;
  margin-top: 80px;
  margin-bottom: 40px;
}
#latest-news .top-header p {
  font-size: 0.7rem;
  line-height: 1.1rem;
  color: #fff;
  text-align: center;
  width: 60%;
  margin-bottom: 60px;
}
#latest-news .blog-cards {
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 5rem;
}
#latest-news .blog-cards li {
  width: 14.4rem;
  background-color: #fff;
  border-radius: 0.2rem;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.4);
}
#latest-news .blog-cards li img {
  width: 13.2rem;
  height: auto;
  border-radius: 0.25rem;
  margin: 0.6rem;
}
#latest-news .blog-cards li h3 {
  font-family: "Lora", serif;
  font-weight: 400;
  font-size: 0.965rem;
  text-transform: capitalize;
  line-height: 1.5rem;
  padding: 0.6rem;
}
#latest-news .blog-cards li p {
  font-size: 0.7rem;
  line-height: 1.1rem;
  padding: 0.6rem;
}
#latest-news .blog-cards li .button {
  background-color: #207200;
  border-radius: 2.1rem;
  cursor: pointer;
  color: #ffffff;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 0.7rem;
  width: 6.5rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
  margin-left: 0.6rem;
}

footer {
  background-image: url(../assets/cow.png);
  background-repeat: no-repeat;
  background-position: bottom center;
  padding-top: 100px;
}
footer p,
footer a {
  font-size: 0.7rem;
  line-height: 1.1rem;
}
footer .wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer h3 {
  text-transform: capitalize;
  font-weight: 400;
  font-size: 17px;
  font-family: "Lora", serif;
}
footer .socials {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 17%;
}
footer .socials .icons-container {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}
footer .socials .icons {
  width: 33px;
  height: 33px;
  background-color: #207200;
  border-radius: 50%;
  padding: 10px;
}
footer .socials .logo {
  width: 84.75px;
  height: auto;
  filter: invert(58%) sepia(70%) saturate(6177%) hue-rotate(79deg) brightness(100%) contrast(102%);
  padding-bottom: 10px;
}
footer .quick-links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 17%;
}
footer .quick-links a {
  text-decoration: none;
  color: #1a2428;
  text-transform: capitalize;
}
footer .recent-products {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
footer .recent-products .img-price {
  display: flex;
}
footer .recent-products .img-price img {
  width: 45px;
  height: auto;
}
footer .recent-products .img-price .title {
  font-family: "Lora", serif;
  font-size: 9px;
  text-transform: capitalize;
}
footer .recent-products .img-price .price {
  color: #207200;
  font-weight: 600;
  font-size: 11px;
}
footer .recent-products .img-price .tag {
  margin-left: 20px;
}
footer .subscribe {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer .subscribe .subtitle {
  text-transform: capitalize;
  font-size: 0.65rem;
  font-weight: 600;
}
footer .subscribe p {
  text-transform: capitalize;
}
footer .subscribe span {
  display: block;
}
footer .subscribe form input {
  padding: 7px 10px;
  font-size: 0.55rem;
  color: grey;
  text-transform: capitalize;
  border-color: rgb(247, 247, 247);
  border-radius: 5px;
  border-style: groove;
}
footer .foot {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 100px;
  color: #fff;
  padding-bottom: 10px;
  font-size: 13px;
  text-transform: capitalize;
}

header .top-bar {
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 10;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
}
header .top-bar .wrapper {
  display: flex;
  justify-content: space-between;
}
header .top-bar .logo {
  width: auto;
  height: 2.25rem;
  filter: invert(58%) sepia(70%) saturate(6177%) hue-rotate(79deg) brightness(100%) contrast(102%);
  align-self: center;
}
header .top-bar nav {
  width: 10.5rem;
  align-self: center;
}
header .top-bar ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  text-transform: uppercase;
  font-size: 0.6rem;
  font-weight: 600;
}
header .top-bar ul img {
  width: auto;
  height: 0.8rem;
}
header .top-bar li a {
  color: #1a2428;
  text-decoration: none;
}
header .hero-contact {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../assets/contact.jpg);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  height: 30vh;
  display: flex;
}
header .hero-contact h1 {
  display: flex;
  justify-items: center;
  align-items: center;
  color: #fff;
  text-transform: capitalize;
  font-size: 30px;
  font-family: "Lora", serif;
  font-weight: 400;
  height: 100%;
}

#contact-form {
  padding-top: 100px;
}
#contact-form .wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#contact-form .card .card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 120px;
  padding: 40px 110px 40px 40px;
  border-left: 10px solid;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1);
  border-color: #207200;
  background-color: #fff;
  margin-bottom: 30px;
}
#contact-form .card .card-container h3 {
  font-family: "Lora", serif;
  font-size: 16px;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 10px;
}
#contact-form .card .card-container p {
  font-size: 16px;
}
#contact-form .card .card-container .street {
  text-transform: capitalize;
}
#contact-form form fieldset {
  height: 450px;
  width: 420px;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1);
  border: none;
  padding: 35px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
#contact-form form fieldset .user-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
#contact-form form fieldset .form-group {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  width: calc(50% - 5px);
}
#contact-form form fieldset .long-subject {
  margin-top: 5px;
}
#contact-form form fieldset .big-text-box {
  margin-top: 15px;
}
#contact-form form fieldset input,
#contact-form form fieldset textarea {
  border-radius: 5px;
  border: 1px solid #d3d3d3;
  width: 100%;
}
#contact-form form fieldset textarea {
  height: 120px;
  padding-left: 15px;
  padding-top: 15px;
}
#contact-form form fieldset input {
  height: 45px;
  padding-left: 15px;
}
#contact-form form fieldset input,
#contact-form form fieldset textarea {
  text-transform: capitalize;
  font-size: 13px;
}
#contact-form form fieldset .send {
  display: flex;
  justify-content: center;
  align-items: center;
}
#contact-form form fieldset .button {
  background-color: #207200;
  border-radius: 2.1rem;
  cursor: pointer;
  color: #ffffff;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 0.7rem;
  width: 7.5rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

footer {
  background-image: url(../assets/cow.png);
  background-repeat: no-repeat;
  background-position: bottom center;
  padding-top: 100px;
}
footer p,
footer a {
  font-size: 0.7rem;
  line-height: 1.1rem;
}
footer .wrapper {
  display: flex;
  justify-content: space-between;
}
footer h3 {
  text-transform: capitalize;
  font-weight: 400;
  font-size: 17px;
  font-family: "Lora", serif;
}
footer .socials {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 17%;
}
footer .socials .icons-container {
  padding-top: 10px;
}
footer .socials .icons {
  width: 33px;
  height: 33px;
  background-color: #207200;
  border-radius: 50%;
  padding: 10px;
}
footer .socials .logo {
  width: 84.75px;
  height: auto;
  filter: invert(58%) sepia(70%) saturate(6177%) hue-rotate(79deg) brightness(100%) contrast(102%);
  padding-bottom: 10px;
}
footer .quick-links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 17%;
}
footer .quick-links a {
  text-decoration: none;
  color: #1a2428;
  text-transform: capitalize;
}
footer .recent-products {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
footer .recent-products .img-price {
  display: flex;
}
footer .recent-products .img-price img {
  width: 45px;
  height: auto;
}
footer .recent-products .img-price .title {
  font-family: "Lora", serif;
  font-size: 9px;
  text-transform: capitalize;
}
footer .recent-products .img-price .price {
  color: #207200;
  font-weight: 600;
  font-size: 11px;
}
footer .recent-products .img-price .tag {
  margin-left: 20px;
}
footer .subscribe {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer .subscribe .subtitle {
  text-transform: capitalize;
  font-size: 0.65rem;
  font-weight: 600;
}
footer .subscribe p {
  text-transform: capitalize;
}
footer .subscribe span {
  display: block;
}
footer .subscribe form input {
  padding: 7px 10px;
  font-size: 0.55rem;
  color: grey;
  text-transform: capitalize;
  border-color: rgb(247, 247, 247);
  border-radius: 5px;
  border-style: groove;
}
footer .foot {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 100px;
  color: #fff;
  padding-bottom: 10px;
  font-size: 13px;
  text-transform: capitalize;
}